<footer class="footer">

    <section id="section-left-footer">
        <img id="logocorp" src="img/BC_Negro_H2png.png" alt="Logo de la empresa">

        <p class="footer-p">BC Software S.A. de C.V</p>

        <p class="footer-p">Retícula Interactiva &copy;</p>

        <p class="footer-p">Torreón, Coahuila 2021</p>

        <a href="blank">Acerca de</a>
    </section>

    <section id="section-right-footer">
        <p class="footer-p">Telefono: 8712312312</p>

        <p class="footer-p">Direccion: Calzada Colón 420-2er p, Segundo de Cobián Centro, 27000 Torreón, Coah.</p>

        <p class="footer-p">Horario de atención: lunes a viernes 8 a.m a 4 p.m</p>

    </section>

</footer>