<header class="header">

    <img src="/img/Icono.png" alt="Logo" class="logo">

    <a href="/">
        <img src="/img/RIV2.png" alt="Logo" class="logo2">
    </a>
    

    <div class="button-container">

        <a href="../login">
        <button id="buttonSesion" >Iniciar Sesión</button>
        </a>
        <a href="../register">
        <button type="submit"  id="buttonRegistro">Registrarse</button>
        </a>

    </div>
    
</header>