<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/access.css">
</head>
<body class="login">
    
    <%- include('../partials/header') %>

    <main class="main-login">

        <form action="" class="formulario-login" id="formulario-login">

            <!-- Grupo: Usuario -->
			<div class="formulario__grupo" id="grupo__usuario">
				<label for="usuario" class="formulario__label">No. Control</label>
				<div class="formulario__grupo-input">
					<input type="text" class="formulario__input" name="usuario" id="usuario" placeholder="19130343">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">El numero de control solo puede contener numeros y el maximo son 8 dígitos.</p>
			</div>

            <!-- Grupo: Contraseña -->
			<div class="formulario__grupo" id="grupo__password">
				<label for="password" class="formulario__label">Contraseña</label>
				<div class="formulario__grupo-input">
					<input type="password" class="formulario__input" name="password" id="password">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">La contraseña tiene que ser de 4 a 12 dígitos.</p>
			</div>

            <div class="formulario__grupo formulario__grupo-btn-aceptar">
				<button type="submit" class="formulario__btn-login">Aceptar</button>
				<p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario hecho correctamente</p>
			</div>



        </form>

    </main>

    <%- include('../partials/footer') %>

</body>
</html>

<script src="./javascript/formulario.js"></script>